<!DOCTYPE html>
<html>
<meta charset ="utf-8"/>

  <script src="js/lib/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/services.js"></script>

<head>
  <link rel="stylesheet" href="css/style.css">
  <title>Acá Hay Gato Encerrado...</title>
</head>

<body style="font-family:courier;background-color:black;color:white;margin:0;" ng-app="laberintosApp" ng-controller='JuegoCtrl'>

<div id="header">
	<img src="img/cat.png" alt="Ícono Acá Hay Gato Encerrado" style="float:left;width:134px;height:134px;">
	<h1>Acá hay Gato Encerrado...</h1>
	<p style="text-align:right;font-size:80%">Usuario: {{jugador.nombre}}</p>
</div>

<div id="nav">
	<ul id="menu" ng-hide="seEstaJugandoEnElLaberintoSeleccionado"><!--QUITAR EL NG-HIDE-->
		<ul style="padding-left:0px;list-style-type:none">
		<li ng-repeat="laberinto in laberintos | filter: disponibilidad = true ">
			<a alt={{laberinto.nombre}} ng-click=seleccionarLaberinto(laberinto)>
			<img src=img/{{laberinto.nombre}}.jpg style="float:left;width:44px;height:44px;">
			{{laberinto.nombre}}</a>
		</li>
		</ul>
	</ul>
</div>

<div id="section">
	<div ng-show="seleccionNula" style="text-align:center;font-family:courier;">
		<img src="img/pointerToLeft.png" alt="Seleccioná un Laberinto" style="width:300px;height:300px;">
		<h2>Seleccioná un Laberinto</h2>
	</div>
	
	<div ng-show="hayUnLaberintoSeleccionado">
		<img src=img/{{laberintoSeleccionado.nombre}}.jpg alt={{laberintoSeleccionado.nombre}} style="float:left;width:300px;height:300px;">
		<h2>{{laberintoSeleccionado.nombre}}</h2>
		<p>{{laberintoSeleccionado.descripcion}}</p>
		<button ng-click=jugarLaberinto()
		style="text-align:center;height:100px;width:300px;">Jugar en {{laberintoSeleccionado.nombre}}</button>
	</div>

	<div ng-show="seEstaJugandoEnElLaberintoSeleccionado">
		<h1 style="text-align:center;">{{laberintoSeleccionado.nombre}}</h1>
		<img src=img/hab/{{laberintoSeleccionado.jugadorActual.habitacionActual.nombre}}.jpg
			alt={{laberintoSeleccionado.jugadorActual.habitacionActual.nombre}} style="float:left;width:300px;height:300px;">
		<h2>{{laberintoSeleccionado.jugadorActual.habitacionActual.nombre}}</h2>
		<h3 style="color:#454545">Acciones</h3>
		<li style=list-style-type:none ng-repeat="accion in laberintoSeleccionado.jugadorActual.habitacionActual.acciones">
			<button style="height:50px;width:150px;" alt={{accion.nombre}}>{{accion.nombre}}</button>
		</li>
		<h3 style="float:right;color:#454545">Inventario</h3>
		<li style="list-style-type:none;float:right;" ng-repeat="item in laberintoSeleccionado.jugadorActual.inventario">
			<a alt={{item.nombre}}>{{item.nombre}}</a>
		</li>
		<button style="height:30px;width:100px;text-align:right;" alt="Tirar item">Tirar</button>
	</div>
</div>

<div id="footer">
	Construcción de Interfaces de Usuario: 2016<br>
	Grupo 4 (cuatro) Alumnos: Cardozo,Carlos - García,Nicolás - LunaWatkins,Ezequiel
</div>

</body>
</html>
